<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gestionnaire de projets</title>
    <link rel="stylesheet" href="../assets/css/all.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/myframework.css" />

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- compos -->
    <script src="../assets/compos/tag.js"></script>
    <script src="../assets/compos/project-card.js"></script>
    <script src="../assets/compos/menu-button.js"></script>
    <script src="../assets/compos/sidebar-section-header.js"></script>

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div class="dashboard-wrapper d-flex" id="app">
      <!-- =========================
          SIDEBAR
    ========================== -->

      <aside class="sidebar">
        <div>
          <div class="logo">
            <div class="logo-circle"></div>
            <h5 class="mb-0">TeamUnity</h5>
          </div>

          <!-- MENU -->
          <div class="sidebar-title">Menu</div>
          
          <side-menu-button biclass="bi-house-fill" count="13" spanText="kkkkkkkkkk">
          </side-menu-button>
          

          <side-menu-button biclass="bi-check2-square">
          </side-menu-button>

          <side-menu-button biclass="bi-check2-square" spanText="Tasks">
          </side-menu-button>

          <side-menu-button biclass="bi-chat-dots" spanText="Tasks">
          </side-menu-button>
          
          <!-- PROJECTS -->
          
          <sidebar-section-header></sidebar-section-header>
          
          <side-menu-button biclass="bi-stack" spanText="Publications"></side-menu-button>

          <side-menu-button biclass="bi-calendar2-week" spanText="Planning"></side-menu-button>


          <side-menu-button spanText="Design Internal"></side-menu-button>
          
          <side-menu-button spanText="Marketing" ></side-menu-button>

        <!-- MEMBERS -->
        <sidebar-section-header title="This is a text">

        </sidebar-section-header>

          <div class="member-item">
            <img src="https://i.pravatar.cc/100?img=1" alt="" />
            <div>
              <div class="member-name">Zaid Myers</div>
              <div class="member-time">08:06:28 for this week</div>
            </div>
          </div>

          <div class="member-item">
            <img src="https://i.pravatar.cc/100?img=2" alt="" />
            <div>
              <div class="member-name">Rebecca Young</div>
              <div class="member-time">12:41:07 for this week</div>
            </div>
          </div>

          <div class="member-item">
            <img src="https://i.pravatar.cc/100?img=3" alt="" />
            <div>
              <div class="member-name">Isaac Bowman</div>
              <div class="member-time">01:56:22 for this week</div>
            </div>
          </div>
        </div>
      </aside>

      <!-- =========================
          MAIN CONTENT
    ========================== -->

      <main class="main-content">
        <!-- SEARCH -->
        <div class="search-row">
          <div class="search-box">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="trouver des tâches..." />
          </div>
          <div class="filters">
            <span><i class="bi bi-funnel"></i> Sort by</span>
            <span><i class="bi bi-sliders"></i> Filters</span>
            <span><i class="bi bi-eye"></i> Show</span>
          </div>
        </div>

        <!-- TOPBAR -->
        <div class="topbar">
          <div class="topbar-left">
            <h3 class="mb-0">Publications</h3>

            <!-- <button class="outline-btn"><i class="bi bi-list-task"></i>
              List
            </button>

            <button class="btn btn-dark rounded-4 px-4"><i class="bi bi-columns-gap"></i>
              Board
            </button>
            
            <button class="outline-btn"><i class="bi bi-diagram-3"></i>
              Workflow
            </button> -->

            <button class="view-btn clicked">+ Nouveau tâche</button>
          </div>
        </div>

        <!-- BOARD -->
        <div class="board">
          <!-- COLUMN -->
          <div class="board-column">
            <div class="column-title">
              To Do <span class="text-secondary fs-5">(12)</span>
            </div>
            <project-card> </project-card>
          </div>

          <!-- COLUMN -->
          <div class="board-column">
            <div class="column-title">
              In Progress <span class="text-secondary fs-5">(2)</span>
            </div>

            <project-card> </project-card>
          </div>

          <!-- COLUMN -->
          <div class="board-column">
            <div class="column-title">
              Review <span class="text-secondary fs-5">(3)</span>
            </div>

            <project-card> </project-card>
          </div>
        </div>
      </main>
    </div>
    <!-- create compos -->
    <script>
      let myapp = new Vue({
        el: "#app" /* this sould have the selector of the root element */,
        data: {},
      });
    </script>
    <script>
      setTimeout(()=>{
        document.location.reload();
      },500)
    </script>
  </body>
</html>
