<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gestionnaire de projets</title>
    <link rel="stylesheet" href="../assets/css/all.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="app">
      <!-- left profile side -->
      <div class="left-side-profile">
        <div class="profile">
          <img src="../assets/imgs/icon.png" />
        </div>
        <h1>User name</h1>
      </div>

      <!-- list of projects  -->
      <div class="right-side-projects">
        <div class="project">
          <!-- left = logo du projet -->
          <div class="project-logo">
            <div class="logo">
              <img src="../assets/imgs/icon.png" alt="" />
            </div>
          </div>

          <!-- right = tous les autres infos -->
          <div class="infos">
            <div class="project-name">
              <h2>Prooject number°1 test test test for overflow ellipsise</h2>
            </div>
            <div class="project-tags">
              <!-- the 'ul' of the tags is scrollable -->
              <div class="tag">Work</div>
              <div class="tag">Work</div>
              <div class="tag">Work</div>
              <div class="tag">Work</div>
            </div>
            <div class="description">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum,
                aspernatur. Aliquid deleniti impedit, quisquam, velit ad ut
                reiciendis provident voluptatem sapiente optio recusandae, est
                necessitatibus autem dolores quos quibusdam? Amet!
              </p>
            </div>
            <div class="owner">Created by :</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
